<div class="page-content bg-grey">
  <section class="content-inner-1">
    <div class="container">
      <div class="row book-grid-row style-4 m-b60">
        <div class="col">
          <div class="dz-box">
            <div class="dz-media">
              <img src="../images/books/grid/book14.jpg" alt="book" />
            </div>
            <div class="dz-content">
              <div class="dz-header">
                <h3 class="title"> <%= book.name %></h3>
                <div class="shop-item-rating">
                  <div
                    class="d-lg-flex d-sm-inline-flex d-flex align-items-center"
                  >
                    <ul class="dz-rating">
                      <li><i class="flaticon-star text-yellow"></i></li>
                      <li><i class="flaticon-star text-yellow"></i></li>
                      <li><i class="flaticon-star text-yellow"></i></li>
                      <li><i class="flaticon-star text-yellow"></i></li>
                      <li><i class="flaticon-star text-muted"></i></li>
                    </ul>
                    <h6 class="m-b0">4.0</h6>
                  </div>
                  <div class="social-area">
                    <ul class="dz-social-icon style-3">
                      <li>
                        <a
                          href="https://www.facebook.com/dexignzone"
                          target="_blank"
                          ><i class="fa-brands fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          href="https://twitter.com/dexignzones"
                          target="_blank"
                          ><i class="fa-brands fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.whatsapp.com/" target="_blank"
                          ><i class="fa-brands fa-whatsapp"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          href="https://www.google.com/intl/en-GB/gmail/about/"
                          target="_blank"
                          ><i class="fa-solid fa-envelope"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dz-body">
                <div class="book-detail">
                  <ul class="book-info">
                    <li>
                      <div class="writer-info">
                        <div><span>Writen by</span>
                            <%= book.author.name %>
                        </div>
                      </div>
                    </li>
                    <li><span>Publisher</span>
                        <%= book.publisher.name %>
                    </li>
                    <li>
                      <span>Year</span>
                      <%= book.year %>
                    </li>
                  </ul>
                </div
                <p class="text-1"> <%= book.description %> </p>
                <div class="book-footer">
                  <div class="price">
                    <h5>$ <%= book.price %></h5>
                    <p class="p-lr10"><%= book.price + 10 %></p>
                  </div>
                  <div class="product-num">
                    <div class="quantity btn-quantity style-1 me-3">
                      <input
                        id="demo_vertical2"
                        type="text"
                        value="1"
                        name="demo_vertical2"
                      />
                    </div>
                    <a
                      href="shop-cart.html"
                      class="btn btn-primary btnhover btnhover2"
                      ><i class="flaticon-shopping-cart-1"></i>
                      <span>Add to cart</span></a
                    >
                    <div class="bookmark-btn style-1 d-none d-sm-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="flexCheckDefault1"
                      />
                      <label class="form-check-label" for="flexCheckDefault1">
                        <i class="flaticon-heart"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-8">
          <div class="product-description tabs-site-button">
            <ul class="nav nav-tabs">
              <li>
                <a data-bs-toggle="tab" href="#graphic-design-1" class="active"
                  >Details Product</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div id="graphic-design-1" class="tab-pane show active">
                <table class="table border book-overview">
                  <tr>
                    <th>Book Title</th>
                    <td><%= book.name %></td>
                  </tr>
                  <tr>
                    <th>Author</th>
                    <td><%= book.author.name %></td>
                  </tr>
                  <!-- <tr>
                    <th>ISBN</th>
                    <td>121341381648 (ISBN13: 121341381648)</td>
                  </tr> -->
                  <!-- <tr>
                    <th>Ediiton Language</th>
                    <td>English</td>
                  </tr> -->
                  <!-- <tr>
                    <th>Book Format</th>
                    <td>Paperback, 450 Pages</td>
                  </tr>
                  <tr>
                    <th>Date Published</th>
                    <td>August 10th 2019</td>
                  </tr> -->
                  <tr>
                    <th>Publisher</th>
                    <td><%= book.publisher.name %></td>
                  </tr>
                  <!-- <tr>
                    <th>Pages</th>
                    <td>520</td>
                  </tr> -->
                  <!-- <tr>
                    <th>Lesson</th>
                    <td>7</td>
                  </tr> -->
                  <!-- <tr>
                    <th>Topic</th>
                    <td>360</td>
                  </tr> -->
                  <!-- <tr class="tags">
                    <th>Tags</th>
                    <td>
                      <a href="javascript:void(0);" class="badge">Drama</a>
                      <a href="javascript:void(0);" class="badge">Advanture</a>
                      <a href="javascript:void(0);" class="badge">Survival</a>
                      <a href="javascript:void(0);" class="badge">Biography</a>
                      <a href="javascript:void(0);" class="badge"
                        >Trending2022</a
                      >
                      <a href="javascript:void(0);" class="badge">Bestseller</a>
                    </td>
                  </tr> -->
                </table>
              </div>   
            </div>
          </div>review
        </div>
        <div class="col-xl-4 mt-5 mt-xl-0">
          <div class="widget">
            <h4 class="widget-title">Related Books</h4>
            <div class="row">
                <% for(let i=0; i < 3; i++) { %>
                    <div class="col-xl-12 col-lg-6">
                        <div class="dz-shop-card style-5">
                        <div class="dz-media">
                            <img src="../images/books/grid/book15.jpg" alt="" />
                        </div>
                        <div class="dz-content">
                            <h5 class="subtitle"><%= bookList[i].name %></h5>
                            <ul class="dz-tags">
                            <li><%= bookList[i].author.name %>,</li>
                            <li><%= bookList[i].category.name %>,</li>
                            </ul>
                            <div class="price">
                            <span class="price-num">$<%= bookList[i].price %></span>
                            <del>$<%= bookList[i].price + 10 %></del>
                            </div>
                            <a
                            href="shop-cart.html"
                            class="btn btn-outline-primary btn-sm btnhover btnhover2"
                            ><i class="flaticon-shopping-cart-1 me-2"></i> Add to
                            cart</a
                            >
                        </div>
                        </div>
                    </div>

                <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Client Start-->
  <div class="bg-white py-5">
    <div class="container">
      <div class="swiper client-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../images/client/client1.svg" alt="client"></div>
            <div class="swiper-slide"><img src="../images/client/client2.svg" alt="client"></div>
            <div class="swiper-slide"><img src="../images/client/client3.svg" alt="client"></div>
            <div class="swiper-slide"><img src="../images/client/client4.svg" alt="client"></div>
            <div class="swiper-slide"><img src="../images/client/client5.svg" alt="client"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Client End-->

  <!-- Feature Box -->
  <section class="content-inner">
    <div class="container">
      <div class="row sp15">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="icon-bx-wraper style-2 m-b30 text-center">
            <div class="icon-bx-lg">
              <i class="fa-solid fa-users icon-cell"></i>
            </div>
            <div class="icon-content">
              <h2 class="dz-title counter m-b0">125,663</h2>
              <p class="font-20">Happy Customers</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="icon-bx-wraper style-2 m-b30 text-center">
            <div class="icon-bx-lg">
              <i class="fa-solid fa-book icon-cell"></i>
            </div>
            <div class="icon-content">
              <h2 class="dz-title counter m-b0">50,672</h2>
              <p class="font-20">Book Collections</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="icon-bx-wraper style-2 m-b30 text-center">
            <div class="icon-bx-lg">
              <i class="fa-solid fa-store icon-cell"></i>
            </div>
            <div class="icon-content">
              <h2 class="dz-title counter m-b0">1,562</h2>
              <p class="font-20">Our Stores</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="icon-bx-wraper style-2 m-b30 text-center">
            <div class="icon-bx-lg">
              <i class="fa-solid fa-leaf icon-cell"></i>
            </div>
            <div class="icon-content">
              <h2 class="dz-title counter m-b0">457</h2>
              <p class="font-20">Famous Writers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Feature Box End -->

  <!-- Newsletter -->
  <section
    class="py-5 newsletter-wrapper"
    style="
      background-image: url('images/background/bg1.jpg');
      background-size: cover;
    "
  >
    <div class="container">
      <div class="subscride-inner">
        <div
          class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center"
        >
          <div class="col-xl-7 col-lg-12">
            <div class="section-head mb-0">
              <h2 class="title text-white my-lg-3 mt-0">
                Subscribe our newsletter for newest books updates
              </h2>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <form
              class="dzSubscribe style-1"
              action="script/mailchamp.php"
              method="post"
            >
              <div class="dzSubscribeMsg"></div>
              <div class="form-group">
                <div class="input-group mb-0">
                  <input
                    name="dzEmail"
                    required="required"
                    type="email"
                    class="form-control bg-transparent text-white"
                    placeholder="Your Email Address"
                  />
                  <div class="input-group-addon">
                    <button
                      name="submit"
                      value="Submit"
                      type="submit"
                      class="btn btn-primary btnhover"
                    >
                      <span>SUBSCRIBE</span>
                      <i class="fa-solid fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Newsletter End -->
</div>
