<div class="page-content bg-grey">
  <section class="content-inner-1">
    <div class="container">
      <div class="row book-grid-row style-4 m-b60">
        <div class="col">
          <div class="dz-box">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% for (const i in book.images){ %>
                  <div class="carousel-item dz-media custom-image <%= i==0 ? 'active' : ''%>">
                    <img src="/<%= book.images[i].path %>" alt="book" />
                  </div>
                  <% } %>
              </div>
              <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon control-button" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon control-button" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- <div class="dz-media">
              <img src="../images/books/grid/book14.jpg" alt="book" />
            </div> -->
            <div class="dz-content">
              <div class="dz-header">
                <h3 class="title">
                  <%= book.name %>
                </h3>
                <div class="shop-item-rating">
                  <div class="d-lg-flex d-sm-inline-flex d-flex align-items-center">
                    <ul class="dz-rating">
                      <li><i class="flaticon-star text-yellow"></i></li>
                      <li><i class="flaticon-star text-yellow"></i></li>
                      <li><i class="flaticon-star text-yellow"></i></li>
                      <li><i class="flaticon-star text-yellow"></i></li>
                      <li><i class="flaticon-star text-muted"></i></li>
                    </ul>
                    <h6 class="m-b0">4.0</h6>
                  </div>
                  <div class="social-area">
                    <ul class="dz-social-icon style-3">
                      <li>
                        <a href="https://www.facebook.com/dexignzone" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/dexignzones" target="_blank"><i
                            class="fa-brands fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                      </li>
                      <li>
                        <a href="https://www.google.com/intl/en-GB/gmail/about/" target="_blank"><i
                            class="fa-solid fa-envelope"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dz-body">
                <div class="book-detail">
                  <ul class="book-info">
                    <li>
                      <div class="writer-info">
                        <div><span>Writen by</span>
                          <%= book.author.name %>
                        </div>
                      </div>
                    </li>
                    <li><span>Publisher</span>
                      <%= book.publisher.name %>
                    </li>
                    <li>
                      <span>Year</span>
                      <%= book.year %>
                    </li>
                  </ul>
                </div <p class="text-1">
                <%= book.description %>
                  </p>
                  <div class="book-footer">
                    <div class="price">
                      <h5>$ <%= book.price %>
                      </h5>
                      <p class="p-lr10">
                        <%= book.price + 10 %>
                      </p>
                    </div>
                    <div class="product-num">
                      <div class="quantity btn-quantity style-1 me-3">
                        <input id="demo_vertical2" type="text" value="1" name="demo_vertical2" />
                      </div>
                      <div data-id="<%= book.id %>" class="btn btn-primary btnhover btnhover2 add-to-cart-btn">Add to cart</div>
                      <!-- <div class="bookmark-btn style-1 d-none d-sm-block">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault1" />
                        <label class="form-check-label" for="flexCheckDefault1">
                          <i class="flaticon-heart"></i>
                        </label>
                      </div> -->
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-8">
          <div class="product-description tabs-site-button">
            <ul class="nav nav-tabs">
              <li>
                <a data-bs-toggle="tab" href="#graphic-design-1" class="active">Details Product</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="graphic-design-1" class="tab-pane show active">
                <table class="table border book-overview">
                  <tr>
                    <th>Book Title</th>
                    <td>
                      <%= book.name %>
                    </td>
                  </tr>
                  <tr>
                    <th>Author</th>
                    <td>
                      <%= book.author.name %>
                    </td>
                  </tr>
                  <tr>
                    <th>Publisher</th>
                    <td>
                      <%= book.publisher.name %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="review mt-4 ">
            <% if (ableToReview){ %>
              <form action="/book/<%= book.id %>/review" method="post" class="d-flex flex-column gap-2">
                <div class="rate">
                  <input type="radio" id="star5" name="stars" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="stars" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="stars" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="stars" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="stars" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
                <small>
                  <%= findErrorByParam(errors, 'stars' )?.msg %>
                </small>
                <textarea style="padding: 6px;" name="content" placeholder="Comment" class="d-block"></textarea>
                <small>
                  <%= findErrorByParam(errors, 'content' )?.msg %>
                </small>
                <button style="width: fit-content; padding: 8px 20px;" class="btn btn-outline-primary"
                  type="submit">Submit</button>
              </form>
              <% } %>

                <div class="reviews">
                  <h4 class="">Customer reviews</h4>
                  <% for (const reviewItem of book.reviews){ %>
                    <div class="review-item">
                      <div class="review-item__name">
                        <%= reviewItem.user.fullName %>
                      </div>
                      <div class="review-item__stars">
                        <% for (let i=1; i<=reviewItem.stars; i++){ %>
                          <i class="fa-solid fa-star text-yellow"></i>
                          <% } %>
                      </div>
                      <div class="review-item__content">
                        <%= reviewItem.content %>
                      </div>
                    </div>
                    <% } %>
                </div>
          </div>
        </div>
        <div class="col-xl-4 mt-5 mt-xl-0">
          <div class="widget">
            <h4 class="widget-title">Related Books</h4>
            <div class="row">
              <% const NUMBER_OF_BOOK_RELATE=bookList.length>= 3 ? 3 : bookList.length; %>
                <% for(let i=0; i < NUMBER_OF_BOOK_RELATE; i++) { %>
                  <div class="col-xl-12 col-lg-6">
                    <div class="dz-shop-card style-5">
                      <div class="dz-media">
                        <img src="../images/books/grid/book15.jpg" alt="" />
                      </div>
                      <div class="dz-content">
                        <h5 class="subtitle">
                          <%= bookList[i].name %>
                        </h5>
                        <ul class="dz-tags">
                          <li>
                            <%= bookList[i].author.name %>,
                          </li>
                          <li>
                            <%= bookList[i].category.name %>,
                          </li>
                        </ul>
                        <div class="price">
                          <span class="price-num">$<%= bookList[i].price %></span>
                          <del>$<%= bookList[i].price + 10 %></del>
                        </div>
                        <div data-id="<%= book.id %>"class="btn btn-outline-primary btn-sm btnhover btnhover2 add-to-cart-btn">Add to
                          cart</div>
                      </div>
                    </div>
                  </div>

                  <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Client Start-->
  <div class="bg-white py-5">
    <div class="container">
      <div class="swiper client-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../images/client/client1.svg" alt="client"></div>
          <div class="swiper-slide"><img src="../images/client/client2.svg" alt="client"></div>
          <div class="swiper-slide"><img src="../images/client/client3.svg" alt="client"></div>
          <div class="swiper-slide"><img src="../images/client/client4.svg" alt="client"></div>
          <div class="swiper-slide"><img src="../images/client/client5.svg" alt="client"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Client End-->

  <!-- Feature Box -->
  <section class="content-inner">
    <div class="container">
      <div class="row sp15">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="icon-bx-wraper style-2 m-b30 text-center">
            <div class="icon-bx-lg">
              <i class="fa-solid fa-users icon-cell"></i>
            </div>
            <div class="icon-content">
              <h2 class="dz-title counter m-b0">125,663</h2>
              <p class="font-20">Happy Customers</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="icon-bx-wraper style-2 m-b30 text-center">
            <div class="icon-bx-lg">
              <i class="fa-solid fa-book icon-cell"></i>
            </div>
            <div class="icon-content">
              <h2 class="dz-title counter m-b0">50,672</h2>
              <p class="font-20">Book Collections</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="icon-bx-wraper style-2 m-b30 text-center">
            <div class="icon-bx-lg">
              <i class="fa-solid fa-store icon-cell"></i>
            </div>
            <div class="icon-content">
              <h2 class="dz-title counter m-b0">1,562</h2>
              <p class="font-20">Our Stores</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="icon-bx-wraper style-2 m-b30 text-center">
            <div class="icon-bx-lg">
              <i class="fa-solid fa-leaf icon-cell"></i>
            </div>
            <div class="icon-content">
              <h2 class="dz-title counter m-b0">457</h2>
              <p class="font-20">Famous Writers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Feature Box End -->

  <!-- Newsletter -->
  <section class="py-5 newsletter-wrapper" style="
      background-image: url('images/background/bg1.jpg');
      background-size: cover;
    ">
    <div class="container">
      <div class="subscride-inner">
        <div
          class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center">
          <div class="col-xl-7 col-lg-12">
            <div class="section-head mb-0">
              <h2 class="title text-white my-lg-3 mt-0">
                Subscribe our newsletter for newest books updates
              </h2>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <form class="dzSubscribe style-1" action="script/mailchamp.php" method="post">
              <div class="dzSubscribeMsg"></div>
              <div class="form-group">
                <div class="input-group mb-0">
                  <input name="dzEmail" required="required" type="email" class="form-control bg-transparent text-white"
                    placeholder="Your Email Address" />
                  <div class="input-group-addon">
                    <button name="submit" value="Submit" type="submit" class="btn btn-primary btnhover">
                      <span>SUBSCRIBE</span>
                      <i class="fa-solid fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Newsletter End -->
</div>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const addToCartBtns = document.querySelectorAll('.add-to-cart-btn')

    addToCartBtns.forEach(btn => {
      btn.addEventListener('click', (event) => {
        const bookId = event.target.dataset.id
        const quantity = 1
        $.ajax({
          url: '/cart',
          method: 'POST',
          data: { bookId, quantity },
          success: (data) => {
            if (data.success) window.location.href = '/cart'
            else window.location.href = '/auth/login'
          }
        })
      })
    })
  })
</script>