<div class="pagination-wrapper mt-4">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if (courseSibling.previous) { %>
        <li class="page-item">
          <a
            class="page-link"
            href="?page=<%= courseSibling.previous.page %>&limit=<%= courseSibling.previous.limit %><% if (courseSibling.currentPage.sort.enable){ %>&_sort&type=<%= courseSibling.currentPage.sort.type %>&column=<%=courseSibling.currentPage.sort.column %><% } %>"
          >Previous</a>
        </li>
      <% } %>
      <% if (courseSibling.currentPage.startOffset > 1){ %>
        <li class="page-item">
          <a class="page-link " href="">...</a>
        </li>
      <% } %>
      <% for (var i = courseSibling.currentPage.startOffset; i<= courseSibling.currentPage.endOffset ; i++){ %>
        <li class="page-item <% if (courseSibling.currentPage.page == i){ %>active<% } %>">
          <a class="page-link " href="?page=<%= i %>&limit=<%=courseSibling.currentPage.limit %><% if (courseSibling.currentPage.sort.enable) { %>&_sort&type=<%=courseSibling.currentPage.sort.type %>&column=<%=courseSibling.currentPage.sort.column %><% } %>"><%= i %></a>
        </li>
      <% } %>
      <% if (courseSibling.currentPage.endOffset < courseSibling.pages){ %>
        <li class="page-item">
          <a class="page-link " href="">...</a>
        </li>
      <% } %>
     
      <% if (courseSibling.next) { %>
        <li class="page-item"><a
            class="page-link"
            href="?page=<%= courseSibling.next.page%>&limit=<%= courseSibling.next.limit %><% if (courseSibling.currentPage.sort.enable){ %>&_sort&type=<%= courseSibling.currentPage.sort.type %>&column=<%=courseSibling.currentPage.sort.column %><% } %>"
          >Next</a></li>
      <% } %>
    </ul>
  </nav>
</div>