<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed custom-navbar">
  <div class="container">
    <a class="navbar-brand link-light" href="/">DD Courses</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle link-light" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <% if (locals.image) { %>
              <img src="<%= locals.image %>" alt="avatar" class="user-avatar" />
              <% } else { %>
                <img src="https://cdn-icons-png.flaticon.com/512/147/147142.png" alt="avatar" class="user-avatar" />
                <% } %>
                  <span id="header__user-name">
                    <%=locals.username %>
                  </span>

          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if (locals.username){ %>
              <li>
                <form action="/auth/logout?_method=DELETE" method="POST">
                  <button type="submit" class="logout-btn">Logout</button>
                </form>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item" href="/me/stored/courses">Khóa học của
                  tôi</a>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li id="cart__link">
                <a class="dropdown-item" id="header__cart" href="/me/cart">Giỏ hàng</a>
                <div class="cart__minimized">
                  <ul class="cart__list">
              <% } %>
              <% if (!locals.username){ %>
                <li><a class="dropdown-item" href="/auth/login">Login</a></li>
              <% } %>
              <% if (locals.cartItems) { %>
                <% cartItems.forEach(item=> { %>
                  <li class="cart__item">
                    <img src="<%=item.image %>" alt="" class="cart__img">
                      <div class="cart__name">
                        <%=item.name %>
                      </div>
                      <span class="cart__count">
                        <%=item.count%>
                      </span>
                  </li>
                <% }) %>
              <% } %>
                  </ul>
                </div>
              </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>