<!-- Content -->
<div class="page-content bg-white">
    <!-- contact area -->
    <div class="content-block">
        <!-- Browse Jobs -->
        <section class="content-inner bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 m-b30">
                        <div class="sticky-top">
                            <div class="shop-account">
                                <div class="account-detail text-center">
                                    <div class="my-custom-avatar">
                                        <%= avatarByName(user.fullName) %>
                                    </div>
                                    <div class="account-title">
                                        <div class="">
                                            <h4 class="m-b5"><a href="javascript:void(0);">
                                                    <%= user.fullName %>
                                                </a></h4>
                                            <p class="m-b0"><a href="javascript:void(0);">
                                                    <%= user.role.toUpperCase() %>
                                                </a></p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="account-list">
                                    <li>
                                        <a href="my-profile.html" class="active"><i class="far fa-user"
                                                aria-hidden="true"></i>
                                            <span>Profile</span></a>
                                    </li>
                                    <li>
                                        <a href="/cart"><i class="fa fa-shopping-cart"></i>
                                            <span>My Cart</span></a>
                                    </li>
                                    <li>
                                        <a href="/book"><i class="fa fa-briefcase" aria-hidden="true"></i>
                                            <span>Shop</span></a>
                                    </li>
                                    <li>
                                        <a href="/auth/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                            <span>Log Out</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 m-b30">
                        <div class="shop-bx shop-profile">
                            <div class="shop-bx-title clearfix">
                                <h5 class="text-uppercase">Contact Information</h5>
                            </div>

                            <% for (const address of addresses){ %>
                                <form action="/user/profile/address?id=<%=address.id%>&_method=PUT" method="POST">
                                    <h5 class="address-name mt-4">
                                        Profile: <%= address.name %>
                                    </h5>
                                    <input type="text" class="form-control" id="id" placeholder="id" name="id"
                                        value="<%= user.id %>" hidden>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="formcontrolinput5" class="form-label">Apartment
                                                    Name:</label>
                                                <input type="text" class="form-control" id="address_name"
                                                    name="address_name" placeholder="Apartment Name"
                                                    value="<%= address.name %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="formcontrolinput6" class="form-label">Address:</label>
                                                <input type="text" class="form-control" id="address" name="address"
                                                    placeholder="Address" value="<%= address.address %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="formcontrolinput6" class="form-label">Phone:</label>
                                                <input type="number" class="form-control" id="phone" name="phone"
                                                    placeholder="Phone" value="<%= address.phone %>">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btnhover">Save Setting</button>
                                </form>
                                <% } %>
                                    <div class="mt-4">
                                        <button class="btn btn-secondary" id="add-address-btn">Add address</button>
                                        <form hidden id="add-address-form" action="/user/profile/address" method="POST">
                                            <input type="text" class="form-control" id="id" placeholder="id" name="id"
                                                value="<%= user.id %>" hidden>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="mb-3">
                                                        <label for="formcontrolinput5" class="form-label">Apartment
                                                            Name:</label>
                                                        <input type="text" class="form-control" id="address_name"
                                                            name="address_name" placeholder="Apartment Name" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="mb-3">
                                                        <label for="formcontrolinput6"
                                                            class="form-label">Address:</label>
                                                        <input type="text" class="form-control" id="address"
                                                            name="address" placeholder="Address">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="mb-3">
                                                        <label for="formcontrolinput6" class="form-label">Phone:</label>
                                                        <input type="number" class="form-control" id="phone"
                                                            name="phone" placeholder="Phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btnhover">Add</button>
                                        </form>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Browse Jobs END -->
    </div>
</div>
<!-- Content END-->

<script>
    const addBtn = document.getElementById('add-address-btn')
    const form = document.getElementById('add-address-form')
    addBtn.addEventListener('click', (e) => {
        form.hidden = !form.hidden
    })
</script>