<div class="page-content">
    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
        style="background-image:url(images/background/bg3.jpg);">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Registration</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"> Home</a></li>
                        <li class="breadcrumb-item">Registration</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->

    <!-- contact area -->
    <% /* %>
        <section class="content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="login-area">
                            <form action="/auth/register" method="POST">
                                <h4 class="text-secondary">Registration</h4>
                                <p class="font-weight-600">If you don't have an account with us, please Registration.
                                </p>
                                <div class="mb-4">
                                    <label class="label-title">Email address *</label>
                                    <input name="email" required="" class="form-control"
                                        placeholder="Your Email address" type="email" value="<%= data.email ?? '' %>" />
                                    <small>
                                        <% if (errors.length>0) { %>
                                            <%=findErrorByParam(errors, 'email' )?.msg ?? '' %>
                                                <% } %>
                                    </small>
                                </div>
                                <div class="mb-4">
                                    <label class="label-title">Password *</label>
                                    <input name="password" required="" class="form-control " placeholder="Type Password"
                                        type="password" value="<%= data.password ?? '' %>" />
                                    <small>
                                        <% if (errors.length>0) { %>
                                            <%=findErrorByParam(errors, 'password' )?.msg ?? '' %>
                                                <% } %>
                                    </small>
                                </div>
                                <div class="mb-4">
                                    <label class="label-title">Confirm password *</label>
                                    <input name="confirmPassword" required="" class="form-control "
                                        placeholder="Type Password" type="password"
                                        value="<%= data.confirmPassword ?? '' %>" />
                                    <small>
                                        <% if (errors.length>0) { %>
                                            <%=findErrorByParam(errors, 'confirmPassword' )?.msg ?? '' %>
                                                <% } %>
                                    </small>
                                </div>
                                <div class="mb-5">
                                    <small>Your personal data will be used to support your experience throughout this
                                        website, to manage access to your account, and for other purposes described in
                                        our <a href="privacy-policy.html">privacy policy</a>.</small>
                                </div>
                                <div class="text-left">
                                    <button class="btn btn-primary btnhover w-100 me-2">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </section>
        <% */ %>
            <!-- contact area End-->

            <section class="content-inner shop-account">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 mb-4">
                            <div class="login-area">
                                <form method="POST" action="/auth/register">
                                    <h4 class="text-secondary">Registration</h4>
                                    <p class="font-weight-600">If you don't have an account with us, please
                                        Registration.</p>
                                    <div class="mb-4">
                                        <label class="label-title">Full name *</label>
                                        <input name="fullName" value="<%= data && data.fullName %>" class="form-control"
                                            placeholder="Your Username" type="text">
                                        <%=findErrorByParam(errors, 'fullName' )?.msg || '' %>
                                    </div>
                                    <div class="mb-4">
                                        <label class="label-title">Email address *</label>
                                        <input name="email" value="<%= data && data.email %>" class="form-control"
                                            placeholder="Your Email address" type="email">
                                        <%=findErrorByParam(errors, 'email' )?.msg || '' %>
                                    </div>
                                    <div class="mb-4">
                                        <label class="label-title">Password *</label>
                                        <input name="password" value="<%= data && data.password %>"
                                            class="form-control " placeholder="Type Password" type="password">
                                        <%=findErrorByParam(errors, 'password' )?.msg || '' %>
                                    </div>
                                    <div class="mb-4">
                                        <label class="label-title">Confirm password *</label>
                                        <input name="confirmPassword" value="<%= data && data.confirmPassword %>"
                                            class="form-control " placeholder="Type Password" type="password">
                                        <%=findErrorByParam(errors, 'confirmPassword' )?.msg || '' %>
                                    </div>
                                    <div class="mb-5">
                                        <small>Your personal data will be used to support your experience throughout
                                            this website, to manage
                                            access to your account, and for other purposes described in our <a
                                                href="privacy-policy.html">privacy
                                                policy</a>.</small>
                                    </div>
                                    <div class="text-left">
                                        <button class="btn btn-primary btnhover w-100 me-2">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>