<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
    <div class="container">
        <div class="dz-bnr-inr-entry">
            <h1>Cart</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-row">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"> Home</a></li>
                    <li class="breadcrumb-item">Cart</li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<section class="content-inner shop-account">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table check-tbl">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th class="text-end">Close</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const item of cartDetails){ %>
                                <tr>
                                    <td class="product-item-img"><img src="/<%= item.book.images?.[0]?.path %>" alt="">
                                    </td>
                                    <td class="product-item-name">
                                        <%= item.book.name %>
                                    </td>
                                    <td class="product-item-price">
                                        <%= item.book.price %>
                                    </td>
                                    <td class="product-item-quantity">
                                        <div class="quantity btn-quantity style-1 me-3">
                                            <input data-book_id="<%= item.book.id %>" data-id="<%= item.id %>" data-field="quantity" class="quantity"
                                                type="number" value="<%=item.quantity %>" name="quantity" />
                                        </div>
                                    </td>
                                    <td data-field="total" class="product-item-totle">
                                        <%= parseInt(item.book.price * item.quantity) %>
                                    </td>
                                    <td data-id="<%= item.id %>" class="product-item-close"></a>
                                        Delete
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="widget">
            <h4 class="widget-title">Cart Subtotal</h4>
            <table class="table-bordered check-tbl mb-4">
                <tbody>
                    <tr>
                        <td>Order Subtotal</td>
                        <td class="product-price">
                            <%= cartDetails.reduce((total, item)=>{
                                return total+=item.book.price*item.quantity
                                },0) %> VND
                        </td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>Free Shipping</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td class="product-price-total">
                            <%= cartDetails.reduce((total, item)=>{
                                return total+=item.book.price*item.quantity
                                },0) %> VND
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group m-b25">
                <a href="/cart/checkout" class="btn btn-primary btnhover" type="button">Proceed to
                    Checkout</a>
            </div>
        </div>

    </div>
    </div>
</section>

<script>
    const quantityInputs = $(`[data-field='quantity']`)
    const deleteButtons = $('.product-item-close')
    quantityInputs.blur(function (e) {
        
        const cartDetails = <%- JSON.stringify(cartDetails)%>;
        const stock = cartDetails.find((cartDetail) => cartDetail.book.id == e.target.dataset.book_id).book.stock;
        if (e.target.value > stock) {
            alert('Số lượng vượt quá hàng tồn');
            this.value = stock;
        }

        $.ajax({
            url: '/cart?replace',
            type: 'POST',
            data: { id: e.target.dataset.id, quantity: e.target.value },
            dataType: 'json',
            success: () => window.location.reload()
        })
    })

    deleteButtons.click(function (e) {
        $.ajax({
            url: `/cart?id=${e.target.dataset.id}`,
            type: 'DELETE',
            dataType: 'json',
            success: () => window.location.reload()
        })
    })


</script>